<div ui-content-for="title">
  <span>建站雷锋欢迎您！</span>
</div>

<div class="scrollable">

  <!-- login -->
 <div class="scrollable-content section" ng-if = "!show_sign_up">
   
  <form role="form">
    <fieldset>
        <div class="form-group has-success has-feedback">
          <label>输入手机登录</label>
          <input ng-change = "enableCheck()" type="number"
                 ng-model="input.phone"
                 class="form-control"
                 placeholder="手机">
        </div>

        <div class="form-group has-success has-feedback">
          <label>输入密码</label>
          <input ng-change = "enableCheck()" type="password"
                 ng-model="input.pass_word"
                 class="form-control"
                 placeholder="密码">
        </div>

        <p ng-if = "number_message" style = "color:red;">{{number_message}}</p>

        <button ng-disabled = "!input.phone || !input.pass_word" class="btn btn-primary btn-block" ng-click = "login()">
          登陆
        </button>

        <button class="btn btn-primary btn-block" ng-click = "showSignUp()">
          马上注册
        </button>

    </fieldset>

    <div class="login-info border" style = 'margin: 8px 0;'>
      <img src="./assets/timg.jpeg" style = "width: 100%;margin-bottom: 4px;">
      <p>传承、融汇、共进!</p>
      <p>共同发展，全力以赴。</p>
      <p>我们愿想你所想！</p>
       
    </div>


    <hr>

    
  </form>

  
 </div>


 <!-- end login -->

 <!-- sign up -->
 <div class="signup scrollable-content section" ng-if = "show_sign_up">
   <form role="form">
    <fieldset>
        <div class="form-group has-success has-feedback">
          <label>输入手机登录</label>
          <input ng-change = "signUpCheck()" type="number"
                 ng-model="sign_up_input.phone"
                 class="form-control"
                 placeholder="手机">
        </div>

        <div class="form-group has-success has-feedback">
          <label>输入密码</label>
          <input ng-change = "signUpCheck()" type="text"
                 ng-model="sign_up_input.pass_word"
                 class="form-control"
                 placeholder="密码">
        </div>


        <p ng-if = "sign_up_input.message" style = "color:red;">{{sign_up_input.message}}</p>

        <button ng-disabled = "!sign_up_input.phone || !sign_up_input.pass_word" class="btn btn-primary btn-block" ng-click = "signUp()">
          注册
        </button>

        <button  class="btn btn-primary btn-block" ng-click = "backLogin()">
          返回登陆
        </button>

    </fieldset>



    <hr>

    
  </form>
 </div>

 <!-- end sign up -->
</div>
