<style type="text/css">
  .input_box{
    float:left;
    margin-right:20px;
  }
</style>
<div class="scrollable section">
  <div class="scrollable-content ">

    <div ui-content-for="title">
      <span>传承、融汇、共进</span>
    </div>

    <div class="homt-message border" ng-if = "message">
      {{message.body_text}}

      <button class="btn btn-primary btn-block" ng-click = "msgAction(message)">
        {{message.btn_text}}
      </button>
    </div>

    <div class="filter" style = "clear:both;overflow: auto;">
      <div class = "input_box">
        <div class="form-group has-success has-feedback">
          <input ng-model-options='{ debounce: 1500 }' type="text" ng-change = "search()" ng-model="search_word" class="form-control" placeholder="智能搜索，输入关键字、或词">
        </div>
      </div>

      <div class = "input_box">
        <div class="form-group has-success has-feedback">
          <input ng-model-options='{ debounce: 1500 }' type="text" ng-change = "search()" ng-model="search_limit" class="form-control" placeholder="Limit">
        </div>
      </div>

      <div class = "input_box">
          <button ng-click = "addOrder()" class="btn btn-primary btn-block" style = "margin-top:10px;">
          添加订单
        </button>
      </div>

    </div>



    <div>

      <table class= "item-table" style = "min-width:100%;">
        <thead>
          <tr>
            <td style = "width:40px!important;">
              ID
            </td>
            <td>
              平台
            </td>
            <td style = "width:100px!important;">
              用户
            </td>


            <td style = "width:100px!important;">
              状态
            </td>

            <td>
              关键字
            </td>

            <td>
              备注
            </td>

            <td>
              操作
            </td>
          </tr>
        </thead>

        <tbody>
          <tr ng-click = "showIndex($index)" ng-repeat="order in orders track by $index" ng-class = "zhuangTaiClass(order)">
            <td>
              {{$index + 1}}
            </td>
            <td>
              <div class="form-group has-success has-feedback">
                <select ng-change = "saveOrder(order)" ng-model="order.pingtai">
                  <option value ="转转">转转</option>
                  <option value ="转转欢乐送">转转欢乐送</option>
                  <option value ="闲鱼">闲鱼</option>
                </select>
              </div>

            </td>
            <td>

              {{order.username}}
              <input ng-change = "saveOrder(order)" type="text" ng-model="order.username" class="form-control" placeholder="用户" >
            </td>
            <td>

              <div class="form-group has-success has-feedback">
                <select ng-change = "saveOrder(order)" ng-model="order.zhuangtai">
                  <option value ="平台下单">平台下单</option>
                  <option value ="拼多多下单">拼多多下单</option>
                  <option value ="等发快递">快发递等到</option>
                  <option value ="等收货">等收货</option>
                  <option value ="完成">完成</option>
                  <option value ="退货">退货</option>
                </select>
              </div>
              
            </td>
            

            <td>
              <div class="form-group has-success has-feedback">
                {{order.guanjianzi}}
                <input ng-change = "saveOrder(order)" type="text" ng-model="order.guanjianzi" class="form-control" placeholder="关键字" >
                }
              </div>
            </td>

            <td>
              <div class="form-group has-success has-feedback">
                {{order.time}}

                <input ng-change = "saveOrder(order)" type="text" ng-model="order.beizhu" class="form-control" placeholder="备注" >
              </div>

              <div class="pingyu" >


                
                <textarea ng-change = "saveOrder(order)" type="text" ng-model="order.pinglun" class="form-control" placeholder="地址" >
                  
                </textarea>
              </div>
            </td>
            <td>
              <button ng-click = "deleteOrder(order)" class="btn btn-primary btn-block">
                删除
              </button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>



  </div>
</div>

