<div class="scrollable">
  <h1 class="scrollable-header app-name">推广辅助系统</h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off="uiSidebarLeft">
      <a class="list-group-item" href="#/">首页<i class="fa fa-chevron-right pull-right"></i></a>

      <a class="list-group-item" href="#/liushui">流水<i class="fa fa-chevron-right pull-right"></i></a>

      <a class="list-group-item" href="#/wancheng">完成<i class="fa fa-chevron-right pull-right"></i></a>

      <a class="list-group-item" href="#/pinduoduo">拼多多<i class="fa fa-chevron-right pull-right"></i></a>
      

      
      
      <a ng-if = "user" class="list-group-item" href="#/logout">退出<i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>
